.input-icon {
    position: absolute;
    left: 20px;
    top: 12px;
    z-index: 10;
    color: #6c757d;
    font-size: 1.2rem;
}

.form-control, .input-group .form-control {
    padding-left: 50px !important;
    border-radius: 50px; /* yumshoq yumaloq inputlar */
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
}

.form-control:focus {
    background-color: white;
    border-color: #0d6efd;
    box-shadow: 0 0 10px rgba(13, 110, 253, 0.15);
}